#grid {
    display: flex;
    flex-wrap: wrap;
    /* width: 474px; */
    grid-gap: 15px;
    /* border: solid; */
    padding: 1cm;
    justify-content: center;
    margin: 0 auto;
    align-content: stretch;
    align-items: stretch;
    justify-items: center;
}
img{
    width: 4cm;
    border:solid 2px #eeeeee;
}
.center{
    text-align: center;
}
h3{
    font-size: 1cm;
}
body{
    color: rgb(255, 255, 255);
    height: 100vh;
    background-color: rgb(64, 4, 99);
}